@model WebApplication1.Entities.Student
<table class="table table-dark table-hover">
    <tr>
        <td>@Model.First_Name</td>
        <td>@Model.Second_Name</td>
        <td>@Model.Email</td>
        <td>@Model.Student_ID</td>
        <td>@Model.Password</td>
        <td>@Model.Dept_ID</td>
    </tr>
</table>